---
interface Props {
  src: string;
  poster?: string;
  username: string;
  views?: string;
  description?: string;
}

const {
  src,
  poster = "",
  username,
  views = "",
  description = "",
} = Astro.props;

import Video from "./video.astro";
---

<div class="box">
  <Video src={src} />
  <div class="text">
    <p class="username">
      {username}
      {
        views && (
          <>
            | <span class="views-highlight">{views} Views</span>
          </>
        )
      }
    </p>
    {description && <p class="description-regular">{description}</p>}
  </div>
</div>

<style>
  .box .text .username {
    margin-top: 12px;
    text-align: center;
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
        color: #5150e3;
    margin: 8px 0 0;
  }

  .views-highlight {
    font-weight: 700;
    color: #5150e3;
  }

  .description-regular {
    margin-top: 4px;
    text-align: center;
    font-family: "General Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #050530;
  }
</style>
