---
import "../styles/footer.css";
---

<footer>
  <div class="logoSlogan">
    <img src="/footerLogo.svg" alt="footer logo">
    <div class="slogan">
      Turning short-form content into long lasting impact - Ekido,
      <strong>your FYP partner!</strong>
    </div>
  </div>
  <div class="legalSocials">
    <div class="legal">
      PT Ekido Kreatif Indonesia
      <br />
      © 2025. All rights reserved. Ekido Creative.
    </div>
    <div class="socials">[ socials ]</div>
  </div>
</footer>
