---
import "../styles/footer.css";
---

<footer>
  <div class="logoSlogan">
    <img src="/footerLogo.svg" alt="footer logo" />
    <div class="slogan">
      Turning short-form content into long lasting impact - Ekido,
      <strong>your FYP partner!</strong>
    </div>
  </div>
  <div class="legalSocials">
    <div class="legal">
      PT Ekido Kreatif Indonesia
      <br />
      © 2025. All rights reserved. Ekido Creative.
    </div>
    <div class="socials">
      @ekido_cr
      <a href="http://instagram.com/ekido_cr" target="_blank">
        <img src="/instagram_line.svg" alt="ig" />
      </a>
      <a href="http://tiktok.com/ekido_cr" target="_blank">
        <img src="/tiktok_line.svg" alt="tk" />
      </a>
      <a href="http://wa.link/2d3uae" target="_blank">
        <img src="/whatsapp_line.svg" alt="wa" />
      </a>
    </div>
  </div>
</footer>
