---
import "../styles/hero.css";
import Navbar from "../layouts/navbar.astro";
---

<div class="contentMax-hero">
  <div class="heroSection">
    <div class="container">
      <Navbar />
      <div class="textContainer">
        <div class="heading">
          <div class="textLogo">
            <h1>Hello! We're</h1>
            <img src="/logo-svg.svg" alt="Ekido SVG" />
          </div>
          <h1>Your FYP Partner</h1>
        </div>
        <p>
          Ekido bantu brand, bisnis & kreator tumbuh dengan konten yang relevan,
          berdampak, dan tahan lama di FYP. <br /> Bukan sekadar viral — tapi membawa
          hasil.
        </p>
        <br />
        <p class="downHero">Geser ke bawah untuk lanjut ↓</p>
      </div>
      <div class="imageContainer">
        <img src="/mascot-svg.svg" onerror="this.src = '/mascot-png.png';" />
      </div>
      <img src="/asset1.svg" alt="asset1" class="asset1" />
    </div>
  </div>
</div>
