---
import "../styles/why.css";
import SelebCard from "../components/selebCard.astro";
import Video from "../components/video.astro";
---

<div class="contentMax-why">
  <div class="whySection" id="kenapaekido">
    <div class="container">
      <div class="headerSection">
        <h2>Kenapa Ekido</h2>
      </div>
      <div class="gridContainer">
        <div class="gridbaseContainer featureContainer">
          <div class="headerGrid">
            <h3>Fleksibel, Rapih dan Terukur</h3>
            <p>
              Kamu yang tentukan, Ekido yang eksekusi
              <br />
              Tanpa Ribet, Tanpa Ruwet
            </p>
          </div>
          <div class="featureList">
            <div class="featureItem">
              <img class="featureImg" src="/jasa.png" alt="featureImg" />
              <p class="featureLabel">Jasa Lengkap</p>
            </div>
            <div class="featureItem">
              <img
                class="featureImg"
                src="/professional.png"
                alt="featureImg"
              />
              <p class="featureLabel">Professional</p>
            </div>
            <div class="featureItem">
              <img class="featureImg" src="/notion.png" alt="featureImg" />
              <p class="featureLabel">Sistem Notion</p>
            </div>
            <div class="featureItem">
              <img class="featureImg" src="/harga.png" alt="featureImg" />
              <p class="featureLabel">Harga Bersaing</p>
            </div>
            <div class="featureItem">
              <img class="featureImg" src="/aman.png" alt="featureImg" />
              <p class="featureLabel">Keamanan & Kerahasiaan</p>
            </div>
            <div class="featureItem">
              <img class="featureImg" src="/cloud.png" alt="featureImg" />
              <p class="featureLabel">Penyimpanan Cloud</p>
            </div>
            <div class="featureItem">
              <img class="featureImg" src="/hemat.png" alt="featureImg" />
              <p class="featureLabel">Hemat Waktu, Simpel</p>
            </div>
          </div>
        </div>

        <div class="gridbaseContainer trustContainer">
          <div class="headerGrid">
            <h3>Terpercaya</h3>
            <p>Telah membantu lebih dari 250+ kreator dan 50+ brand.</p>
          </div>
          <div class="trustList">
            <!-- Baris 1 -->
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/romario_rage_diigeq.jpg"
              username="@romario_rage"
              followers="119K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544882/varuuyy_zt70vx.jpg"
              username="@varuuyy"
              followers="32,8K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544882/asamlambunk_h8p6wv.jpg"
              username="@asamlambunk"
              followers="157K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514466/albert_grc23e_evklo9.webp"
              username="@bangalbert.id"
              followers="20,4K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544879/lutfi_afansyah_sfglby.jpg"
              username="@lutfiafansyah"
              followers="196K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/merryclestary_u9yeia.jpg"
              username="@merryclestari"
              followers="243K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/mrbalee_dd_giks00.jpg"
              username="@mrbalee_"
              followers="1.8M"
              platform="tiktok"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544880/gandhifernando_pastxg.jpg"
              username="@gandhifernando"
              followers="653K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514466/hans_o8gcjs_deepof.webp"
              username="@hansboling"
              followers="265K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514465/adriel_nwphlj_itihh8.webp"
              username="@adrielreith"
              followers="356K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514465/jason_speq0f_ifqdrj.webp"
              username="@jsnnath"
              followers="72,2K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514470/gibran_qhbknt_twclfe.webp"
              username="@muhammadddgibran"
              followers="45,7K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/luqmanrv_xt2aqd.jpg"
              username="@luqmanrv"
              followers="1,1M"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514478/dr.adit_izwcyj_d6yt3v.webp"
              username="@adityaspratama"
              followers="1M"
              platform="instagram"
            />

            <!-- Baris 2 -->
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/romario_rage_diigeq.jpg"
              username="@romario_rage"
              followers="119K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544882/varuuyy_zt70vx.jpg"
              username="@varuuyy"
              followers="32,8K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544882/asamlambunk_h8p6wv.jpg"
              username="@asamlambunk"
              followers="157K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514466/albert_grc23e_evklo9.webp"
              username="@bangalbert.id"
              followers="20,4K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544879/lutfi_afansyah_sfglby.jpg"
              username="@lutfiafansyah"
              followers="196K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/merryclestary_u9yeia.jpg"
              username="@merryclestari"
              followers="243K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/mrbalee_dd_giks00.jpg"
              username="@mrbalee_"
              followers="1.8M"
              platform="tiktok"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544880/gandhifernando_pastxg.jpg"
              username="@gandhifernando"
              followers="653K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514466/hans_o8gcjs_deepof.webp"
              username="@hansboling"
              followers="265K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514465/adriel_nwphlj_itihh8.webp"
              username="@adrielreith"
              followers="356K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514465/jason_speq0f_ifqdrj.webp"
              username="@jsnnath"
              followers="72,2K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514470/gibran_qhbknt_twclfe.webp"
              username="@muhammadddgibran"
              followers="45,7K"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753544881/luqmanrv_xt2aqd.jpg"
              username="@luqmanrv"
              followers="1,1M"
              platform="instagram"
            />
            <SelebCard
              avatarSrc="https://res.cloudinary.com/apclient/image/upload/f_auto,q_auto/v1753514478/dr.adit_izwcyj_d6yt3v.webp"
              username="@adityaspratama"
              followers="1M"
              platform="instagram"
            />
          </div>
        </div>

        <div class="gridbaseContainer experienceContainer">
          <div class="headerGrid">
            <h3>Berpengalaman</h3>
            <p>
              Telah menyelesaikan 3500+ total proyek, dari ide konten hingga
              eksekusi dan mencapai FYP.
            </p>
          </div>
          <div class="experienceBody">
            <div class="counter">
              <div class="number">250+</div>
              <div class="text">Kreator</div>
            </div>
            <div class="counter">
              <div class="number">3500+</div>
              <div class="text">Proyek</div>
            </div>
            <div class="counter">
              <div class="number">75+ Juta</div>
              <div class="text">Total Penonton</div>
            </div>
            <div class="counter">
              <div class="number">50</div>
              <div class="text">Brand</div>
            </div>
          </div>
        </div>

        <div class="gridbaseContainer qualityContainer">
          <div class="headerGrid">
            <h3>Kualitas Profesional, Hasil Maksimal</h3>
            <p>Fokus pada detail & storytelling di setiap frame.</p>
          </div>
          <div class="qualityBody">
            <div class="video-comparison-container">
              <div class="video-comparison">
                <div class="before-container">
                  <Video
                    src="https://res.cloudinary.com/apclient/video/upload/v1753548112/before_yaa0cq.mp4"
                    className="before-video"
                    autoplay={true}
                  />
                  <div class="label">Before</div>
                </div>
                <div class="after-container">
                  <Video
                    src="https://res.cloudinary.com/apclient/video/upload/v1753548253/after_usuuv8.mp4"
                    className="after-video"
                    autoplay={true}
                  />
                  <div class="label">After</div>
                </div>
                <div class="comparison-slider">
                  <div class="slider-handle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <img src="/asset4.svg" alt="asset4" class="asset4alt" />
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function animateCounter(element: HTMLElement, target: string) {
      const numericTarget = parseInt(target.replace(/\D/g, ""));
      const suffix = target.replace(/[0-9]/g, "");

      const duration = 2000;
      const steps = 50;
      const stepTime = duration / steps;

      let current = 0;
      const increment = numericTarget / steps;

      const timer = setInterval(() => {
        current += increment;

        if (current >= numericTarget) {
          clearInterval(timer);
          element.textContent = target;
        } else {
          element.textContent = Math.floor(current) + suffix;
        }
      }, stepTime);
    }

    function isElementInViewport(el: HTMLElement) {
      const rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <=
          (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    const counters = document.querySelectorAll(".counter .number");
    let animated = false;

    function checkAndAnimate() {
      if (
        !animated &&
        isElementInViewport(
          document.querySelector(".experienceBody") as HTMLElement
        )
      ) {
        animated = true;

        counters.forEach((counter) => {
          const targetValue = counter.textContent;
          counter.textContent = "0";
          animateCounter(counter as HTMLElement, targetValue!);
        });
      }
    }

    checkAndAnimate();
    window.addEventListener("scroll", checkAndAnimate);
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".comparison-slider");
    const beforeContainer = document.querySelector(".before-container");
    const beforeVideo = document.querySelector(".before-video");
    const afterVideo = document.querySelector(".after-video");
    const videoComparison = document.querySelector(".video-comparison");

    // Autoplay videos when they're visible in viewport
    const videos = document.querySelectorAll(".video-comparison video");

    function checkVideosInViewport() {
      const rect = videoComparison?.getBoundingClientRect() || new DOMRect();
      const isInViewport =
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <=
          (window.innerWidth || document.documentElement.clientWidth);

      if (isInViewport) {
        videos.forEach((video) => {
          (video as HTMLVideoElement).play();
        });
      } else {
        videos.forEach((video) => {
          (video as HTMLVideoElement).pause();
        });
      }
    }

    // Initial position at 50%
    let sliderPosition = 50;
    updateSliderPosition();

    function updateSliderPosition() {
      if (slider) {
        (slider as HTMLElement).style.left = `${sliderPosition}%`;
      }
      if (beforeContainer) {
        (beforeContainer as HTMLElement).style.clipPath =
          `inset(0 ${100 - sliderPosition}% 0 0)`;
        // Menggunakan clipPath daripada width untuk menghindari perubahan ukuran
      }
    }

    // Handle drag events
    let isDragging = false;

    if (slider) {
      slider.addEventListener("mousedown", startDrag);
      slider.addEventListener("touchstart", startDrag, { passive: true });
    }

    function startDrag() {
      isDragging = true;
    }

    document.addEventListener("mousemove", drag);
    document.addEventListener("touchmove", drag, { passive: false });

    function drag(e: MouseEvent | TouchEvent) {
      if (!isDragging) return;

      e.preventDefault();

      const containerRect =
        videoComparison?.getBoundingClientRect() || new DOMRect();
      let clientX;

      if (e.type === "touchmove") {
        clientX = (e as TouchEvent).touches[0].clientX;
      } else {
        clientX = (e as MouseEvent).clientX;
      }

      const newPosition =
        ((clientX - containerRect.left) / containerRect.width) * 100;
      sliderPosition = Math.min(Math.max(newPosition, 0), 100);
      updateSliderPosition();
    }

    document.addEventListener("mouseup", endDrag);
    document.addEventListener("touchend", endDrag);

    function endDrag() {
      isDragging = false;
    }

    // Check if videos are in viewport on scroll
    window.addEventListener("scroll", checkVideosInViewport);
    window.addEventListener("resize", checkVideosInViewport);

    // Initial check
    checkVideosInViewport();
  });
</script>
